<%- include('include/head.ejs') %>
<body>
    <div class="main_nav"></div>
    <form class="product-form" action="/admin/product" method="POST">
        <div class="form-control">
            <label for="title"> <%= title %> </label>
            <input type="text" name="title" id="title">
        </div>

        <button class="btn" type="submit">Add Product</button>
    </form>
</body>
</html>